{% extends 'base.html' %}

{% block title %}TBG{% endblock %}

{% block content %}
    <h1>Tuma Board Games</h1>

    <h2>What is this website going to be</h2>
    <p>This should be a first attempt to make the website. Graphics and structure will be neglected now. The main goals I'll try to tackle are:
    <ol>
        <li>Making JS classes with good APIs capturing simple games logic.</li>
        <li>Adding very simple login and room creation mechanism.</li>
        <li>Experiment a little with JS interactions and animations and make an ugly but playable version of Chinese Checkers.</li>
    </ol>

    <h2>What is the long-term goal</h2>
    <p>A website hosting multiple free boardgames, accessible on any platform (mobile, tablet, laptop) and as many browser as possibile (chrome and firefox are the bare minimum).</p>

    <h2>This website Zen</h2>
    <ol>
        <li>Ugly is better than broken.</li>
        <li>Simple is better than copyrighted.</li>
        <li>Errors may pass silently only because JS sucks.</li>
        <li>Eventually is better than never.</li>
        <li>If the implementation is hard to explain, it's probably JS's fault.</li>
        <li>If the implementation is easy to explain, someone might eventually decide to help me.</li>
        <li>Abstract games are one hoking great idea -- let's do more of those.</li>
    </ol>
{% endblock %}